<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/figures" method="post">
      <p>Name <input type="text" name="Name" id="figure_id"></p><br>

      <h4>Titles</h4>
      <% Title.all.each do |title| %>
      <p><%= title.name %><input type="checkbox" name="titles[]" value="<%=title.id%>"></p>
      <% end %>
      <br>

      <h4>Create New Title:</h4><br>
      <input type="text" name="Title" id="title_id"></input>

      <h4>Landmarks</h4>
      <% Landmark.all.each do |landmark| %>
      <p><%= landmark.name %><input type="checkbox" name="landmarks[]" value="<%=landmark.id%>"></p>
      <% end %>
      <br>

      <h4>Create New Landmark:</h4>
      <p>Name <input type="text" name="Name" id="landmark_id"></input>

      Year <input type="text" name="Year" id="year_completed"></input></p><br>
      <button>Create New Figure</button>


    </form>
  </body>
</html>
